<div class="form-group">
  <label for="name">商品名字</label>
  <input type="text" class="form-control" id="name"/>
</div>
<div class="form-group">
  <label for="price">商品价格</label>
  <input type="text" class="form-control" id="price"/>
</div>
<div class="form-group">
  <label for="rate">商品评价</label>
  <input type="text" class="form-control" id="rate"/>
</div>
<div class="form-group">
  <label for="category">商品类别</label>
  <select class="form-control" name="category" id="category">
    <option>电子</option>
  </select>
</div>
<div class="form-group">
  <button class="btn btn-primary">搜索</button>
</div>
